TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_REDIRECT_URI=http://localhost:3000/callback
TWITCH_OAUTH_HOST=localhost
TWITCH_OAUTH_PORT=3000
OPENAI_API_KEY=
APP_LOG_LEVEL=info
